# common --------------------------------------------------
node_modules/

# interface --------------------------------------------------
packages/interface/node_modules/
packages/interface/.pnp
packages/interface/.pnp.js
packages/interface/coverage
packages/interface/.next/
packages/interface/out/
packages/interface/build
packages/interface/.DS_Store
packages/interface/*.pem
packages/interface/npm-debug.log*
packages/interface/yarn-debug.log*
packages/interface/yarn-error.log*
packages/interface/.env*.local
packages/interface/.vercel
packages/interface/*.tsbuildinfo
packages/interface/next-env.d.ts

# contracts --------------------------------------------------
packages/contracts/node_modules
packages/contracts/.env
packages/contracts/coverage
packages/contracts/coverage.json
packages/contracts/typechain
packages/contracts/typechain-types
packages/contracts/cache
packages/contracts/artifacts

